[submodule "nushell/.config/nushell/nu_scripts"]
	path = nushell/.config/nushell/nu_scripts
	url = https://github.com/nushell/nu_scripts.git
[submodule "sources/ShyFox"]
	path = sources/ShyFox
	url = git@github.com:Naezr/ShyFox.git
