@import "colors/mocha.css";
* {
    border: none;
    border-radius: 0;
    font-family: Maple Mono NF;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
}

tooltip {
    background: transparent;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @surface0
}

#custom-language,
#custom-caffeine,
#window,
#clock,
#battery,
#pulseaudio,
#tray,
#backlight,
#cpu,
#memory,
#temperature,
#custom-bluetooth
#custom-notification {
    color: @text;
    background: @mantle;
    padding: 0px 10px;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid @surface0;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}


#network {
    color: @text;
    background: @mantle;
    padding: 0px 15px 0px 10px;;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid @surface0;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

#custom-bluetooth {
    color: #d4be98;
    background: #282b2c;
    padding: 0px 15px 0px 10px;;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid @surface0;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

#power-profiles-daemon {
    color: #A9B665;
    background: #282b2c;
    padding: 0px 17px 0px 10px;;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid #43413B;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
#custom-weather {
    color: #d4be98;
    background: #282b2c;
    padding: 0px 12px 0px 10px;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid #43413B;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

#custom-appmenu {
    color: @lavender;
    background: @mantle;
    padding: 0px 14px 0px 10px;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 8px;
    margin-right: 2px;
    border: 2px solid @surface0;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

#custom-power {
    color: @lavender;
    background: @mantle;
    padding: 0px 13px 0px 10px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 8px;
    border: 2px solid @surface0;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

/* Workspace Style - Start */
#workspaces {
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
tooltip,
#workspaces {
    color: @text;
    padding: 0px 10px 0px 0px;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: @mantle;
    border: 2px solid @surface0;
    padding: 3px;
}
#workspaces button {
    padding: 2px 8px 2px 8px;
    color: @text;
}
#workspaces button.active {
    color: @base;
    border-radius: 7px;
    background-color: @mauve;
}
#workspaces button.focused {
    color: @mauve;
    border-radius: 7px;
}
#workspaces button.urgent {
    color: @red;
    border-radius: 7px;
}
#workspaces button:hover {
    color: @lavender;
    border-radius: 7px;
}
/* Workspace Style - End */
