// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
default_mode "locked"

keybinds clear-defaults=true {
    locked {
        bind "Ctrl Space" { SwitchToMode "Tmux"; }
        bind "Alt n" { NewPane; }
        bind "Alt ]" { GoToNextTab; }
        bind "Alt [" { GoToPreviousTab; }
        bind "Alt Left" { MoveFocus "Left"; }
        bind "Alt Right" { MoveFocus "Right"; }
        bind "Alt Up" { MoveFocus "Up"; }
        bind "Alt Down" { MoveFocus "Down"; }
    }
    tmux {
        bind "Esc" { SwitchToMode "Locked"; }
        bind "Ctrl Space" { SwitchToMode "Locked"; }
        bind "s" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked"
        }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Locked"; }
        bind "c" { NewTab; SwitchToMode "Locked"; }
        bind "d" { Detach; }
        bind "x" { CloseFocus; SwitchToMode "Locked"; }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
}
pane_frames false


// Choose the theme that is specified in the themes section.
// Default: default
//
theme "catppuccin-mocha"
simplified_ui true
